<div class="shop">
  <h2>Shop</h2>
  <div class="item" *ngFor="let item of itemsForSale">
    <img class="item-icon" [src]="'/assets/icons/' + item.icon" />
    <div class="item-info">
      <strong>{{ item.name }}</strong>
      <p>{{ item.description }}</p>
      <p>Preis: {{ item.price }} Gil</p>
      <p *ngIf="item.stock > 0">Verfügbar: {{ item.stock }}</p>
      <p *ngIf="item.stock === 0" class="sold-out">Ausverkauft</p>
      <button class="rpg-button small" [disabled]="item.stock === 0" (click)="buy(item)">
        Kaufen
      </button>
  </div>
  <div *ngIf="message" class="shop-toast">{{ message }}</div>
</div>

